body {
  font-family: Arial;
}
div {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 300px;
  position: relative;
}

.highlight {
  animation: highlightAnswer 1s;
}

@keyframes highlightAnswer {
    0%   {background-color: gold;}
    50%  {background-color: gold;}
    100% {background-color: gold;}
}

@keyframes oneToThrees {
    0%   {bottom: 0px;
          left: 0px;}
    50%  {bottom: 300px;
          left: 350px;}
    100% {bottom: 0px;
          left: 700px;}
}
@keyframes threeToOnes {
    0%   {top: 0px;
          right: 0px;}
    50%  {top: 300px;
          right: 350px;}
    100% {top: 0px;
          right: 700px;}
}
@keyframes oneToTwos {
    0%   {top: 0px;
          left: 0;}
    50%  {top: 300px;
          left: 175px;}
    100% {top: 0px;
          left: 350px;}
}
@keyframes twoToOnes {
    0%   {bottom: 0px;
          right: 0px;}
    50%  {bottom: 300px;
          right: 175px;}
    100% {bottom: 0px;
          right: 350px;}
}
@keyframes twoToThrees {
    0%   {top: 0px;
          left: 0;}
    50%  {top: 300px;
          left: 175px;}
    100% {top: 0px;
          left: 350px;}
}
@keyframes threeToTwos {
    0%   {bottom: 0px;
          right: 0px;}
    50%  {bottom: 300px;
          right: 175px;}
    100% {bottom: 0px;
          right: 350px;}
}

#wrapper {
  display: flex;
  justify-content: center;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}

.highlight:hover {
  border: 2px;
  border-color: green;
}

#feedback {
  padding: 2%;
  display: none;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

#feedback a {
 /* text-decoration: none;
  font-size: 30px;
  color: red;*/
}

.win {
  text-decoration: none;
  font-size: 30px;
  color: green;
}

.lose {
  text-decoration: none;
  font-size: 30px;
  color: red;
}

.lose:hover {
  text-decoration: none;
  color: gold;
}

.win:hover {
  text-decoration: none;
  color: gold;
}

.popup {
  animation: popupFeedBack 1s;
  animation-fill-mode: forwards;
  height: 300px;
  width: 450px;
  background-color: black;
  border: 5px groove blue;
  border-radius: 25px;
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 999;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#position-pop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes popupFeedBack {
    0%   {visibility: hidden;
          opacity: 0;
          z-index: -1;}
    100% {visibility: visible;
          opacity: 1;
          z-index: 200;
          top: 35%;}
}





