#pictures-row-one, #pictures-row-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: -webkit-center;
}
.about-caption {
  font-family: 'Kreon', serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 350px;
  text-align: justify;
}
#navabout {
  display: flex;
  text-align: -webkit-center;
  padding: 1%;
}

*{
  font-family: 'Press Start 2P', cursive;
}
body{
background: url("../images/2.jpg") no-repeat center center fixed;
background-size: cover;
}
#tableWrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*flex-direction:column;*/
}

table {
  margin-left: 400px
  margin-right: 400px;
  border-collapse: collapse;
}

tr:nth-of-type(even) {
  background: #eee;
}
thead {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

#page {
text-align: center;
}

#wrap {
  margin-top: 200px;
  text-align: center;
}
header{
 padding: 10px;
 margin-top: 50px;
 margin-left: 300px;
 margin-right: 300px;
 background: #003459;
 font-size: 21px;
 font-weight: bold;
 line-height: 1.3em;
 border: 2px solid #fff;
 border-radius: 10px;
 box-shadow: 0 0 0 4px #003459, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
 font-weight: normal;
}
h1, h3{
  color: white;
  line-height: 120%;
}

a{
  color: white;
}
a:hover{
  color: gold;
}
button{
  margin-top: 40px;
  background: #196c87;
  background-image: -webkit-linear-gradient(top, #196c87, #00a8e8);
  background-image: -moz-linear-gradient(top, #196c87, #00a8e8);
  background-image: -ms-linear-gradient(top, #196c87, #00a8e8);
  background-image: -o-linear-gradient(top, #196c87, #00a8e8);
  background-image: linear-gradient(to bottom, #196c87, #00a8e8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 3px 3px 2px #0d0d0d;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  text-decoration: none;
}

button:hover {
  background: #015773;
  background-image: -webkit-linear-gradient(top, #015773, #6acef2);
  background-image: -moz-linear-gradient(top, #015773, #6acef2);
  background-image: -ms-linear-gradient(top, #015773, #6acef2);
  background-image: -o-linear-gradient(top, #015773, #6acef2);
  background-image: linear-gradient(to bottom, #015773, #6acef2);
  text-decoration: none;
}

select {
  -webkit-appearance: menulist-button;
  border: 1px black;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-top: -10px;
}

#buttonrow {
  display: flex;
  justify-content: center;
}

#optrow {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#optcolumn {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


